/*! Light Theme  */
/* --primary-active-bg: linear-gradient(90deg, #f2d71a 0%, #ecb024 100%); */

:root {
  --app-bg: #e2dbdb;
  --primary-active-bg: #ecb024;
  --primary-svg-color: #ecb024;
  --active-bg: #eeebeb;
  --primary-bg: #fff;
  --primary-color: #000;
  --invert: 1;
}

/*! Black Theme */
/* :root {
  --app-bg: #0f0f0f;
  --primary-active-bg: #ecb024;
  --primary-svg-color: #ffdf02;
  --active-bg: #ffffff1a;
  --primary-bg: #1a1a1a;
  --primary-color: #f5f5f5;
  --invert: 0;
} */
